{% load static %}
<link rel="icon" type="image/icon" href="{% static 'assets1/images/Logotipo 1.png' %}">
<link href="{% static 'assets1/css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'assets1/css/theme-default.css' %}" rel="stylesheet">
<link href="{% static 'assets1/css/font-awesome-pro.css' %}" rel="stylesheet">
<link href="{% static 'assets1/css/animate.min.css' %}" rel="stylesheet">
<link href="{% static 'assets1/css/venobox.min.css' %}" rel="stylesheet">
<link href="{% static 'assets1/css/style.css' %}" rel="stylesheet">
<link href="{% static 'assets1/css/swiper-bundle.min.css' %}" rel="stylesheet">
<link href="{% static 'assets1/css/meanmenu.min.css' %}" rel="stylesheet">