{% load static %}
<script src="{% static 'assets1/js/vendor/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'assets1/js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'assets1/js/waypoints.min.js' %}"></script>
<script src="{% static 'assets1/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets1/js/jquery.meanmenu.js' %}"></script>
<script src="{% static 'assets1/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets1/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets1/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets1/js/gsap.min.js' %}"></script>
<script src="{% static 'assets1/js/ScrollTrigger.min.js' %}"></script>
<script src="{% static 'assets1/js/SplitText.js' %}"></script>
<script src="{% static 'assets1/js/smooth-scroll.js' %}"></script>
<script src="{% static 'assets1/js/venobox.min.js' %}"></script>
<script src="{% static 'assets1/js/wow.min.js' %}"></script>

<script src="{% static 'assets1/js/theme.js' %}"></script>