{% load static %}
<div id="loading">
		<div id="loading-center">
			<div id="loading-center-absolute">
				<!-- loading content here -->
				<div class="preloader__content text-center">
					<div class="preloader__logo">
						<img style="width: 200px;" src="{% static 'assets1/images/Logotipo 1.png' %}" alt="">
					</div>
					<div style="background-color: #2e3f6e; color: #2e3f6e;" id="st-loading-bar" class="preloader__bar">
						<div id="st-loading-line" class="preloader__bar-inner"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<!-- pre loader area end -->
